import React from 'react';
<%_ if (hasTailwind) { -%>
import 'twin.macro';
<%_ } -%>
import { AppContainer, AppHeaderContainer } from './app.styles';
import Title from './components/title/title.component';
import AccountsList from './components/accounts/accounts-list.component';

function App() {
  return (
    <AppContainer>
      <AppHeaderContainer>
        <p<%_ if (hasTailwind) { -%> tw='bg-green-200' <%_ } -%>>
          Sample code
        </p>
        <Title>Title component</Title>
        <AccountsList />
      </AppHeaderContainer>
    </AppContainer>
  );
}

export default App;
