# DEPENDENCIES ----------------------------------------------------------------
/node_modules

# IDE & FILES -----------------------------------------------------------------
.vscode
*.min.*
*.lock
*.log
*.png
*.d.ts
*.md
