import React, { useCallback } from 'react';
<%_ if (hasTailwind) { -%>
import 'twin.macro';
<%_ } -%>
<%_ if (hasStyledComponents) { -%>
import { AppContainer, AppHeaderContainer } from './app.styles';
<%_ } else { -%>
import './app.styles.scss';
<%_ } -%>
import Title from './components/title/title.component';
import AccountsList from './components/accounts/accounts-list.component';
import { useTranslation } from './i18n';

function App() {
  const { t, changeLanguage, activeLanguage, languages } = useTranslation();

  const handleChange = useCallback(
    (lang: string) => {
      void changeLanguage(lang as typeof languages[0]);
    },
    [changeLanguage]
  );

  return (
<%_ if (hasStyledComponents) { -%>
    <AppContainer>
      <AppHeaderContainer>
<%_ } else { -%>
    <div className="App">
      <header className="App-header">
<%_ } -%>
        <select name="lang" id="lang" value={activeLanguage} onChange={(e) => handleChange(e.target.value)}>
          {languages.map((lang) => (
            <option key={lang} value={lang}>{lang.toUpperCase()}</option>
          ))}
        </select>
        <p<%_ if (hasTailwind) { -%> tw="bg-green-200" <%_ } -%>>{t('title')}</p>
        <Title>Title component</Title>
        <AccountsList />
<%_ if (hasStyledComponents) { -%>
      </AppHeaderContainer>
    </AppContainer>
<%_ } else { -%>
      </header>
    </div>
<%_ } -%>
  );
}

export default App;
