import React from 'react';
<%_ if (hasTailwind) { -%>import 'twin.macro';<%_ } -%>
import './app.styles.scss';

function App() {
  return (
    <div className="App">
      <header className="App-header">
        <p<%_ if (hasTailwind) { -%> tw='bg-green-200' <%_ } -%>>
          Sample code
        </p>
      </header>
    </div>
  );
}

export default App;
